
body, html {
    
    background-color:#CEECF5;
    height:100%;
    margin:0;
}


a{	
	font-family: 'Josefin Sans', sans-serif;	
}


h1 {
	
	text-align: center;
	vertical-align: middle;
	font-family:Comic Sans Ms ;
	line-height: 0px;
	text-decoration: none;
}

.textegeeko{
	font-family: 'Fascinate Inline', cursive;

}


.boitetxtobjectifs{
	position:absolute;
	left:200px;
	top:20%;
	background-color:#2ECCFA;
	height:40%;
	width:80%;
	text-align:center;
	border:1px solid white;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	font-size:25px;
}


.txtac {

	color:black;
	font-size:30px;
	text-align: center;
	vertical-align: middle;
	font-family:cursive;
	
}



.txtfooter {

	color:red;
	font-size:15px;
	text-align: center;
	vertical-align: middle;
	line-height: 0px;
	
}
footer {

	
	clear:both;
	width:100%;
	height:30px;
	position:fixed;
	bottom:0;
	background-color:#2ECCFA;
}

.textacc {
	
	position:absolute;
	height:350px;
	width:40%;
	border-width:2px;
	border-style:solid;
	border-color:#2ECCFA;
	top:150px;
	left:230px;
	background-image:url("../Images/geeko1.png");
	background-size:contain;
	background-position:center center;
	background-repeat: no-repeat;

}


.navigation {
    
    width: 150px; /* Set a width if you like */
    position:fixed;
    left:0;
	top:27%
}




.navigation a {
    background-color: #2ECCFA; 
    color: black; 
    display: block; 
    padding: 10px; 
    text-decoration: none; 
}

.navigation a:hover {
    background-color: #01A9DB; 
}

.navigation a.active {
    background-color: #2E64FE; 
    color: white;
}





.contenu {

	position:absolute;
	left: 69%;
	top: 25%;
	
}

.imgacc {

	height:400px;
	width:400px;
	border-width:2px;
	border-style:solid;
	border-color:black;
	
}


.banniere {

	background-color:#2ECCFA;
	height:50px;
	width:100%;
	position:fixed;
	top:0;

}


.pdf {
	
	padding-left:0px;
	margin-left:200px;
	margin-top:50px;
	height:90%;
	width:80%;
	
}


.txtjir {
	margin-top:50px;
	position:fixed;
	left:0;
	font-family:cursive;
	text-align:center;
	font-size:20px;
}


.tabloimage{
	
	display:none

}









.slider-container{
  height: 70%;
  width: 80%;
  position: absolute;
  overflow: hidden; 
  text-align: center;
  left:20%;
  top:20%;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 900;
  width: 100%;
  bottom: 0;
  
}

.menu label {
	
	cursor: pointer;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #2ECCFA;
	border-radius: 50px;
	margin: 0 .2em 1em;
	&:hover {
    
  }
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 10;
  padding: 8em 1em 0;
  background-size: cover;
  background-position: 50% 50%;
  transition: left 0s .75s;
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left .65s ease-out;
}

.slide-1 {
  background-image: url("../Images/int1.jpg");
  background-size:contain;
  background-repeat:no-repeat;
 }
.slide-2 {
  background-image: url("../Images/int2.jpg");
  background-size:contain;
  background-repeat:no-repeat;
}
.slide-3 {
  background-image: url("../Images/int3.jpg");
  background-size:contain;
  background-repeat:no-repeat;
}
.slide-4 {
  background-image: url("../Images/int4.jpg");
  background-size:contain;
  background-repeat:no-repeat;
}
.slide-5 {
  background-image: url("../Images/int5.jpg");
  background-size:contain;
  background-repeat:no-repeat;
}
.slide-6 {
  background-image: url("../Images/int6.jpg");
  background-size:contain;
  background-repeat:no-repeat;
}

.slide-7 {
  background-image: url("../Images/int7.jpg");
  background-size:contain;
  background-repeat:no-repeat;
}

.slide-8 {
  background-image: url("../Images/int8.jpg");
  background-size:contain;
  background-repeat:no-repeat;
}
.slide-9 {
  background-image: url("../Images/int9.jpg");
  background-size:contain;
  background-repeat:no-repeat;
}
.slide-10 {
  background-image: url("../Images/int10.jpg");
  background-size:contain;
  background-repeat:no-repeat;
}
.slide-11 {
  background-image: url("../Images/int11.jpg");
  background-size:contain;
  background-repeat:no-repeat;
}






















