body, html {
    
    background-color:#CEECF5;
    height:100%;
    margin:0;
}



figcaption{

	display:none;
}


iframe {
	
	margin-left:50px;
	margin-top:100px;
	height:90%;
	width:80%;
	border:none;
	overflow: hidden;
	
}



a{
	
	font-family: 'Josefin Sans', sans-serif;	
	
}



footer {

	
	clear:both;
	width:100%;
	height:30px;
	position:fixed;
	bottom:0;
	background-color:#2ECCFA;
}

h1 {
	
	text-align: center;
	vertical-align: middle;
	font-family:Comic Sans Ms ;
	line-height: 0px;
	text-decoration: none;

}



.txtac {
	
	color:black;
	font-size:15px;
	font-family:cursive;
	
}


.txtfooter {

	color:white;
	font-size:15px;
	text-align: center;
	vertical-align: middle;
	line-height: 0px;
	
}


.textacc {

	
	height:30%;
	width:80%;
	padding-top:200px;
	margin-left:20px;

}






.navigation {
    
    width: 500px; 
    position:fixed;
    left:0;
	top:50px;
	
}

.navigation a {
   
    background-color: #2ECCFA; 
    color: black; 
    display: block;
    padding: 10px; 
    text-decoration: none; 
    
}

.navigation a:hover {
   
    background-color: #01A9DB; 
    
}

.navigation a.active {
    
    background-color: #2E64FE; 
    color: white;
    
}






.contenu {

	padding-left: 895px;
	margin-top: -300px;
	
}


.imgacc {
	
	display:none;
	height:0px;
	width:0px;

}


.banniere {

	background-color:#2ECCFA;
	height:50px;
	width:100%;
	position:fixed;
	top:0;

}



.pdf {
	
	left:0px;
	margin-left:2px;
	margin-top:250px;
	height:55%;
	width:100%;
	border:none;
	overflow: hidden;
	
}


.boitetxtobjectifs{
	position:absolute;
	left:2px;
	top:45%;
	background-color:#2ECCFA;
	height:47%;
	width:99%;
	text-align:center;
	border:1px solid white;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	font-size:20px;
}



.tabloimage{
	
	padding-left:0px;
	padding-top:0px;
	
}



.txtjir{
	
	padding-top:230px;
	left:0;
	font-family:cursive;
	text-align:center;
	font-size:20px;
}






