body, html {
    
    background-color:#CEECF5;
    height:100%;
    margin:0;
    
}



figcaption{

	display:none;

}



footer {

	
	clear:both;
	width:100%;
	height:30px;
	position:fixed;
	bottom:0;
	background-color:#2ECCFA;
}

a{
	font-family: 'Josefin Sans', sans-serif;	

}



h1 {
	
	text-align: center;
	vertical-align: middle;
	font-family:Comic Sans Ms ;
	line-height: 0px;
	text-decoration: none;

}



.txtac {

	color:black;
	font-size:15px;
	text-align: center;
	vertical-align: middle;
	font-family:cursive;
	
}




.imggeeko {

	display:none;

}




.txtfooter {

	color:white;
	font-size:15px;
	text-align: center;
	vertical-align: middle;
	line-height: 0px;
	
}




.textacc {

	
	height:300px;
	width:40%;
	margin-top:150px;
	margin-left:300px;

}



.textegeeko{
	
	font-family: 'Fascinate Inline', cursive;

}




.tabloimage{
	
	padding-left:150px;
	padding-top:0px;

}





.txtjir{
	
	padding-top:50px;
	left:0;
	font-family:cursive;
	text-align:center;
	font-size:20px;

}







.navigation {
	width: 150px; /* Set a width if you like */
    position:fixed;
    left:0;
	top:27%
	
}

.navigation a {
    
    background-color: #2ECCFA; 
    color: black; 
    display: block; 
    padding: 10px;
    text-decoration: none; 
}

.navigation a:hover {
    
    background-color: #01A9DB; 

}

.navigation a.active {
   
    background-color: #2E64FE; 
    color: white;

}





.contenu {

	padding-left: 895px;
	margin-top: -300px;
	
}



.imgacc {
	
	display:none;

}




.banniere {

	background-color:#2ECCFA;
	height:50px;
	width:100%;
	position:fixed;
	top:0;

}



.pdf {
	
	padding-left:0px;
	margin-left:200px;
	margin-top:60px;
	height:75%;
	width:70%;
	border:none;
	overflow: hidden;
	
}



.boitetxtobjectifs{
	
	position:absolute;
	left:200px;
	top:20%;
	background-color:#2ECCFA;
	height:50%;
	width:65%;
	text-align:center;
	border:1px solid white;
	color:white;
	font-family: 'Josefin Sans', sans-serif;
	font-size:20px;
	
}

.slider-container{
display:none


}
.menu {
display:none

}
.menu label {
display:none;
}



















